.pieceContainer {
    display: inline-block;
    position: relative;
    cursor: grab;
}

.pieceContainer.dragging {
    opacity: 1;
    cursor: grabbing;
}

.collisionRoot {
    position: absolute;
    pointer-events: none;
    z-index: 10;
}

.pieceCell {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.pieceCell.rootCell {
    border: 3px solid black;
}